body {
	line-height:2em;
	font-family: fantasy;
	color: white;
}

.container {
	padding: 40px;
}

#subHeader {
	padding-bottom: -10, 0, 30, 0;
}

#sidebarpic {
	max-height:50vh;
	position: relative;
	display: block;
	margin: 0 auto;
}

#enterGuess {
    letter-spacing: 1px;
}

#gameArea {
	max-height: 50vh;
	padding: 0, 20px;
    float: left;
    position: relative;
}

#statsRow {
	color: white;
	font-size: 25px;
	padding-top: 40px;
	line-break: 8px;
}

@media screen and (max-width: 600px) {
    #sideBar {
        height:150px;
    }
    #letterRow {
        display:block;
    }

}

@media screen and (min-width: 600px) {
    #mainHeader {
        font-size:5rem;
    }
    #letterRow {
        display:block;
    }
}

.sidebarimg, .sidebarbkgrndimg {
    max-height: 50vh;
    max-width: auto;
	z-index:2;
}

#sidebarpic, #sidebarbkgrnd {
    opacity: 1;
    position: absolute;
	margin: auto;
}

.bkgrnd {
	z-index:1;
}
.img-responsive {
    margin: 0 auto;
}

#enterGuess {
    font-weight:bold;
    font-size:2rem;
}

tr {
    padding:0px;
}
td {
    text-align:center;
    font-size:1.5em;
}
.letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
  }
